*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
  background-image: url("https://kartinkin.net/uploads/posts/2021-07/1627083424_10-kartinkin-com-p-chernii-rovnii-fon-krasivo-10.jpg");
  background-attachment:inherit;
  background-size: auto;
}