
.logo {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.mainContainer {
  .AppBar {
    margin-bottom:  24px;
    padding: 10px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

}